.nave{
  margin: 0;
  display: flex;
  flex-direction: row;
  padding: 0px 20px 10px 20px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 4rem;
  
  
}
.ulist{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  align-items: center;
}
.ulist{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  align-items: center;
}
.logo-text{
  display: flex;
  align-items: flex-end;
}

.botao-menu{
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px){
    .botao-menu{
        display: block;
    }

    .ulist{
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 20px 0;
        text-align: end;
        background-color: #161b22;
    }
    .ulist.ativo{
        display: flex;
    }
}

#contatos{
  padding: 10px;
  background-color: #fff;
  color: #000 !important;
  border-radius: 15px;
}


#a-contato{
  color: #000;
}

.list a:hover{
 color: #00d2ff !important;
}